/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.group img {
  width: 100%;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}
#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* -------  forms ---------- */
#stay form div{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

#stay form div input, #stay form div select{
  margin-right: 10px;
}


/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) and (max-width: 920px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header .logo {
    font-size: 38px;
  }
  #stay form{
    display: flex;
    flex-direction: row;
    gap: 14px;
  }
  #stay form div{
    flex-direction: column;
    width: 20%;
  }
  #stay form input, #stay form select, #stay form label {
    width: 100%;
    font-size: 60%;
  }
  #stay form div button {
    width: 100%;
    font-size: 18px;
  }
  .group{
    flex-direction: row;
  }
  .about-img {
    width: 25%;
  }
  #about-p{
    width: 50%;
    font-size: 12px;
  }
  #about div{
    align-items: center;
  }
  #ideas .group div {
    flex: 1;
  }
  #host div {
    align-items: center;
    flex: 1;
    gap: 20px;
  }
  #host div p, #host ul li {
    font-size: 12px;
  }
  
}
@media all and (min-width: 921px){
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header .logo {
    font-size: 52px;
  }
  #menu {
    font-size: 20px;
  }
  #stay form{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  #stay form div{
    flex-direction: column;
    width: 20%;
  }
  #stay form input, #stay form select, #stay form label {
    width: 100%;
    font-size: 80%;
  }
  #stay form div button {
    width: 100%;

  }
  .group{
    flex-direction: row;
  }
  .about-img {
    width: 25%;
  }
  #about-p{
    width: 50%;
  }
  #about div{
    align-items: center;
  }
  #ideas .group div {
    flex: 1;
  }
  #host div {
    align-items: center;
    flex: 1;
    gap: 20px;
  } 
}
@media all and (max-width: 370px){
  header .logo{
    font-size: 34px;
  }
  #menu {
    font-size: 14px;
  }
}